.call-to-action-container {
    // Alignment styles **It may need to change**
    display: flex;
    flex-direction: column;


    // size background image styles
    width: 100vw;
    height: 750px;
    background-image: url('./assets/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;

    //layout
    display: flex;
    flex-direction: column;
    align-items: center;

    .featured-product {
        // background-image: url('./assets/mobile/image-header.jpg');
        margin-top: 245px;
        background: rgba(36, 32, 32, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 375px;
        width: 362px;
    }

    .featured-product-description {
        line-height: 30px;
        font-size: 20px;
    }


    .announcement-text {
        letter-spacing: 6px;
        text-transform: uppercase;
    }

    .featured-product-heading {
        font-size: 50px;
        font-weight: bold;
        text-wrap: wrap;
    }

    .white-text {
        color: white;
    }

    .gray-text {
        color: gray;
    }

    .see-product-button {
        color: white;
        background: #D87D4A;
        border: none;
        height: 50px;
        width: 180px;
        margin-top: 30px;
        font-size: 13px;
    }
}