.call-to-action-container {

    // size background image styles
    width: 100vw;
    height: 750px;
    background-image: url('./assets/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;

    //layout
    display: flex;
    flex-direction: column;
    align-items: center;

    .featured-product {
        // background-image: url('./assets/mobile/image-header.jpg');
        margin-top: 245px;
        background: rgba(36, 32, 32, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 375px;
        width: 362px;
    }

    .featured-product-description {
        line-height: 30px;
        font-size: 20px;
    }


    .announcement-text {
        letter-spacing: 6px;
        text-transform: uppercase;
    }

    .featured-product-heading {
        font-size: 60px;
        font-weight: bold;
        text-wrap: wrap;
    }

    .white-text {
        color: white;
    }

    .gray-text {
        color: #d0d0d0;
    }

    .see-product-button {
        color: white;
        background: #D87D4A;
        border: none;
        height: 50px;
        width: 180px;
        margin-top: 30px;
        font-size: 13px;
    }
}

// Media Queries

@media only screen and (min-width: 768px) {
    .call-to-action-container {

        background-image: url('./assets/tablet/image-header.jpg');

        .featured-product {
            width: 469px;
        }
    }



}

@media only screen and (min-width: 1440px) {
    .call-to-action-container {
        background-image: url('./assets/desktop/image-hero.jpg');
        align-items: start;

    }

    .call-to-action-container {
        .featured-product {
            align-items: start;
            width: auto;
            margin-left: 70px;
        }
    }



    .featured-product-description {
        text-align: left;
        width: 450px;
    }

}