.call-to-action-container {
    // Alignment styles **It may need to change**
    display: flex;
    flex-direction: column;


    // size background image styles
    width: 100vw;
    height: 600px;
    background-image: url('./assets/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .featured-product {
        background-image: url('./assets/mobile/image-header.jpg');

        .announcement-text {
            letter-spacing: 6px;
            text-transform: uppercase;
        }

        .featured-product-heading {
            font-size: 30px;
            font-weight: bold;
            text-wrap: wrap;
        }

        .white-text {
            color: white;
        }

        .gray-text {
            color: gray;
        }
    }
}