.manin-container {
    text-decoration: none;

    .radio-button-container {
        .radio-button {
            width: 100%;
            height: 100%;
            background: white;
            border-radius: 8px;
            border: 0.50px #D87D4A solid
        }
    }

}