.main-container {
  text-decoration: none;

  .radio-button-container {
    background: white;
    border-radius: 8px;
    border: $light-grey solid 1px;
    height: 56px;
    display: flex;
    justify-content: start;
    //aklignment styles

    .radio-label {
      font-size: 14px;
      font-weight: 700;
      margin-right: 16px;
    }

    .radio-button {
      height: 20px;
      width: 20px;
      margin-right: 16px;
      accent-color: $orange;
    }

    .radio-button-inner-container {
      margin-left: 40px;
      display: flex;
      align-items: center;
    }
  }

  .regular-button {
    height: 48px;
    width: 160px;
  }

  .regular-button.black {
    color: $white-main;
    background-color: $black;
    border: none;
  }

  .radio-button-container:hover {
    border: $orange solid 1px;
  }
}
