.main-cart-container {
    display: flex;
    flex-direction: column;

    .go-back-text {
        font-size: 16px;
        height: 20px;
        align-self: start;
        margin-left: 25px;
        margin-top: 25px;
    }

    .checkout-container {
        margin-top: 60px;
        width: 327px;
        align-self: center;
        background: $white-main;
    }
}