.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white-main;
  z-index: 1;
  position: relative;

  .icon-logo-group {
    min-width: 327px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    background-color: black;
    height: 90px;
    //TODO these values might change
    padding-left: 20px;
    padding-right: 20px;
  }

  .hamburger-menu {
    display: block;

    .second {
      margin: 5px 0 5px 0;
    }

    .bar {
      width: 16px;
      height: 2px;
      background-color: $white-main;
    }
  }

  @media (min-width: 1366px) {
    .hamburger-menu {
      display: none;
    }
  }

  .desktop-menu-items {
    display: flex;
    align-self: center;
    width: 460px;
    position: relative;
    top: 3px;
    left: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    align-content: space-between;
    justify-content: space-between;
    color: white;
  }

  @media (min-width: 1366px) {
    .icon-logo-group {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
}