.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navigation-main-container {
  background-color: $black;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: $white-main;
  z-index: 1;
  position: relative;

  .icon-logo-group {
    min-width: 327px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .hamburger-menu {
    display: block;

    .second {
      margin: 5px 0 5px 0;
    }
    .bar {
      width: 16px;
      height: 2px;
      background-color: $white-main;
    }
  }
}
