.cart-summary-main-container {
    margin-top: 40px;
    background-color: $white-main;
    height: 490px;
    display: flex;
    flex-direction: column;
    width: 327px;
    align-self: center;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;

    .cart-summary-heading {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        align-self: start;
    }

    .product-quantity-container-wrapper {
        display: flex;
        justify-content: space-between;

        .product-quantity {
            align-self: center;
        }

        .cart-summary-bold-text {
            font-size: 16px;
            color: $black;
            font-weight: 700;
        }

        .cart-summary-soft-text {
            font-size: 16px;
        }

        .product-quantity-container {
            display: flex;


            .product-name-total-container {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
                justify-content: space-between;
                height: 40px;
                align-self: center;
            }

            .product-image {
                height: 64px;
                width: 64px;
                position: relative;
            }
        }
    }

    .individual-total-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 280px;

        .amount {
            font-size: 18px;
            font-family: Manrope;
            font-weight: 700;
        }

        .grand-total {
            color: #D87D4A;
        }
    }

}