body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}

// Varibles
$black: #000;
$black-secondary: #101010;
$white-main: #fff;
$main-background-offwhite: #f2f2f2;
$white-secondary: #f1f1f1;
$orange: #d87d4a;
$orange-lighter: #fbaf85;
$light-grey: #cfcfcf;

@import "components/Navbar/Navbar.scss";
@import "components/ProductsList/ProductsList.scss";
@import "container/Home/Home.scss";
@import "container/Cart/Cart.scss";
@import "components/InputField/InputField.scss";
@import "components/Button/Button.scss";
@import "components/CartSummary/CartSummary.scss";
@import "container/Home/CallToAction.scss";
@import "components/ProductCard/ProductCard.scss";
